/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bright-royal-blue: #005BBB;
    --electric-cyan-blue: #00A4CC;
    --sunshine-yellow: #FFD600;
    --creamy-ivory: #D3D3D3;
    --dark-charcoal: #252525;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--creamy-ivory); /* Creamy Ivory */
    color: var(--dark-charcoal); /* Dark Charcoal */
}



/* Navbar Styles */
.navbar {
    background-color: var(--bright-royal-blue);
}

.navbar-brand, .nav-link {
    color: var(--sunshine-yellow) !important;
}

.nav-link:hover {
    color: var(--electric-cyan-blue) !important;
}

/* Logo Styling */
.logo {
    height: 35px;
    background-color: var(--bright-royal-blue); /* Royal Blue */
    color: var(--creamy-ivory); /* Ivory */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Adjust font size as needed */
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    color: var(--sunshine-yellow); /* Sunshine Yellow */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Section */
section {
    padding: 40px;
    text-align: center;
}

/* Buttons */
.btn {
    background-color: var(--sunshine-yellow); /* Sunshine Yellow */
    color: var(--dark-charcoal); /* Dark Charcoal */
    padding: 10px 20px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--electric-cyan-blue); /* Electric Cyan Blue */
    color: var(--creamy-ivory); /* Creamy Ivory */
}

/* Cards */
.card {
    padding: auto;
    margin: auto;
    background-color: var(--creamy-ivory);
    border: 1px solid var(--dark-charcoal);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: var(--dark-charcoal); /* Dark Charcoal */
    color: var(--creamy-ivory); /* Ivory */
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}